[submodule "battleui"]
	path = battleui
	url = ../battleui.git
[submodule "upsilonbattle"]
	path = upsilonbattle
	url = ../upsilonbattle.git
[submodule "upsilonmapdata"]
	path = upsilonmapdata
	url = ../upsilonmapdata.git
[submodule "upsilonmapmaker"]
	path = upsilonmapmaker
	url = ../upsilonmapmaker.git
[submodule "upsilontools"]
	path = upsilontools
	url = ../upsilontools.git
[submodule "upsiloncli"]
	path = upsiloncli
	url = ../upsiloncli.git
[submodule "upsilonapi"]
	path = upsilonapi
	url = ../upsilonapi.git
[submodule "upsilontypes"]
	path = upsilontypes
	url = git@github.com:ecumeurs/upsilontypes.git
[submodule "upsilonaws"]
	path = upsilonaws
	url = git@github.com:ecumeurs/upsilonaws.git
[submodule "upsilonhub"]
	path = upsilonhub
	url = ../upsilonhub.git
[submodule "upsilonbattleui"]
	path = upsilonbattleui
	url = ../upsilonbattleui.git
