go 1.25.0

use (
	./upsilonapi
	./upsilonauth
	./upsilonbattle
	./upsiloncli
	./upsiloneconomy
	./upsilonhub
	./upsilonmapdata
	./upsilonmapmaker
	./upsilonplatform
	./upsilonserializer
	./upsilontools
	./upsilontypes
)
